<ul class="navbar-nav" >

    <li class="nav-item"
       *ngFor="let task of tasks"
     
       >
      
      <a class="nav-link text-white " href="./dashboard.html">

        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">dashboard</i>
        </div>

        <span class="nav-link-text ms-1"> {{task.category?.title}} </span>
        <span class="nav-link-text ms-1"> {{task.title}} </span>
      </a>
    </li>

  </ul>