<!-- <ul>
  <li *ngFor="let task of tasks; let i = index">

    <div *ngIf="!detail">
      <h2 class="mb-2 text-lg text-center"> {{task.category?.title}}</h2>
      <h3 class="mb-2 text-lg text-center"> {{task.title}} </h3>
    </div>

    <button class="border py-2 px-4 rounded" (click)="showDetail()" class="border py-2  px-4 rouded bg-blue-400"
      [ngClass]="{
        'bg-yellow-400':!detail,
        'bg-blue-400':detail,
      }"> {{ detail ? 'Show' : 'Hide' }} Details</button>


  </li>
</ul> -->

<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title"> Список задач </h4>
  </div>

  <div class="card-body table-responsive">

    <table [dataSource]="dataSource" mat-table>

      <!-- <ng-container matColumDef="color">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let task" [style.background-color]="getPriorityColor(task)"
        mat-cell></td>
      </ng-container> -->
    

      <!-- <ng-container matColumDef="id">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let index = index;" mat-cell>

          {{index + 1}}
      
         </td>
      </ng-container>
    

      <ng-container matColumDef="title">
        <th *matHeaderCellDef mat-header-cell>Название</th>
        <td *matCellDef="let task" [class.completed]="task.completed" mat-cell>

          {{task.title}}  
      
         </td>
      </ng-container>


      <ng-container matColumDef="date">
        <th *matHeaderCellDef mat-header-cell>Срок</th>
        <td *matCellDef="let task" 
            [ngClass]="{'completed': task.completed,  'nodate': task.date == null}" mat-cell>

          {{task.date | date: "medium"}}  
      
         </td>
      </ng-container>

      <ng-container matColumDef="priority">
        <th *matHeaderCellDef mat-header-cell>Приоритет</th>
        <td *matCellDef="let task" 
            [ngClass]="{'completed': task.completed,  'noprioriry': task.priority == null}" mat-cell>

          {{task.priority ? task.priority.title : "без приоритета"}}  
      
         </td>
      </ng-container>


      <ng-container matColumDef="category">
        <th *matHeaderCellDef mat-header-cell>Категория</th>
        <td *matCellDef="let task" 
            [ngClass]="{'completed': task.completed,  'nocategory': task.category== null}" mat-cell>

          {{task.category ? task.category.title : "без категории"}}  
      
         </td>
      </ng-container> -->

      <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>

      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    
    </table>


  </div>

</div>